<!-- Contact Section -->
<section id="contact" class="py-5">
    <div class="container">
      <h2 class="text-center">{{title}}</h2>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">Correo</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputMessage">Mensaje</label>
          <textarea class="form-control" id="inputMessage" rows="4" placeholder="Mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    <ul class="list-unstyled">
        @for (medio of medios; track medio.texto){
            <li>
                <a href="#">
                {{medio.texto}}
                </a>
            </li>
        } @empty{
            Empty list of media
        }
    </ul>
    </div>
</section>