<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" routerLinkActive="active" routerLink="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/About">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/Contacto">Agenda tu cita</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <footer>
        <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">.
            <br>
            <div class="container">
                <a class="navbar-brand" href="https://www.facebook.com/INMOVILAec">
                </a>
                <a class="navbar-brand" href="https://www.instagram.com/inmovila/">
                </a>
                <a class="navbar-brand" href="https://www.tiktok.com/@inmovilaec">
                </a>
            </div>
            Copyright &copy; Inmovila. Todos los derechos reservados.
        </div>
    </footer>
</body>

</html>